body {
    font-family: Arial, sans-serif;
    background: #f6f7fb; /* Fallback for unsupported browsers */
    background: -webkit-linear-gradient(to right, #f6f7fb, #e0eafc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f6f7fb, #e0eafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: gradientAnimation 10s ease infinite alternate; /* Adding smooth gradient animation */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#join-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    background-color: #6c5b7b; /* Pastel purple */
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#join-btn:hover {
    background-color: #9b8abf; /* Lighter pastel purple on hover */
}

#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.video-container {
    border: 2px solid #d1d1d1; /* Light grey border */
    background-color: #fff; /* White background */
    border-radius: 10px;
    overflow: hidden;
}

.video-player {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: #6c5b7b; /* Pastel purple */
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9b8abf; /* Lighter pastel purple on hover */
}

#stream-controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}
